:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5b6270;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  color: #fafdff;
  background-color: #313642;
} */

a {
  font-weight: 500;
  color: #e97a72;
  text-decoration: inherit;
}
a:hover {
  color: #e97a72;
  text-decoration: underline;
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  line-height: 1;
  padding: 0 2em;
}

h1 {
  /* margin: 0; */
  /* padding: 0; */
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  flex: 0 0 1;
  border-bottom: 1px solid #464b57;

  background-color: #313642;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  padding: 1rem 2rem 2rem;
  margin-bottom: 2rem;
}

main {
  background-color: #313642;

  border-radius: 1.5rem;
  /* height: 100vh; */
  font-family: Arial, sans-serif;
  padding: 2rem;
  margin-bottom: 3rem;
}

footer {
  flex: 0 0 1;
  display: flex;
  align-items: center;

  background-color: #313642;
  padding: 1rem 2rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

input,
button,
textarea,
select,
[contenteditable] {
  font-size: 1em;
  padding: 0.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff7361;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}
nav a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 25rem;
}

form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

form fieldset .field-error {
  font-size: 0.8rem;
  color: yellow;
  margin-top: 0.3em;
}

.form-button {
  margin-top: 1rem;
  height: 2.5rem;
}
.other-links {
  margin-top: 2rem;
  font-size: 1rem;
}

form.inline {
  flex-direction: row;
}
form.inline .form-button {
  margin-top: 0;
}
